html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bannerImage {
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.bannerLink {
    background-color: #2c469d;
    display: block;
    width: 100%;
}

.questionBlock {
    margin: 10px 0 10px 0;
}

.questionBlock label{
    display:block;
}