@model BigGive.Models.SubmitForm

@{
    ViewData["Title"] = "Submit Form";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    <div class="accordion-tab-box">
        <div class="accordion-tab-header"><h3>Personal Information for @Model.Name</h3></div>
        <div class="questionBlock">
            <label>Name: *</label>
            <input type="text"/>
        </div>

        <div class="questionBlock">
            <label>Which semester did you start at Texas A&M? *</label>
            <select class="input-lg" style="">
                <option value="0" style="color:#ccc !important;">
                   Choose Option
                </option>
                <option value="1">Spring</option>
                <option value="2">Summer</option>
                <option value="3">Fall</option>
                <option value="4">Other</option>
            </select>
        </div>

        <div class="questionBlock">
            <label>Which degree are you pursuing? *</label>
            <select class="input-lg" style="">
                <option value="0" style="color:#ccc !important;">
                    Choose Option
                </option>
                <option value="1">Undergraduate</option>
                <option value="2">Masters</option>
                <option value="3">PhD</option>
                <option value="4">Other</option>
            </select>
        </div>

        <div class="questionBlock">
            <input type="text" />
        </div>

        <div class="questionBlock">
            <label>Gender *</label>
            <select class="input-lg" style="">
                <option value="0" style="color:#ccc !important;">
                    Choose Option
                </option>
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
        </div>

        <div class="questionBlock">
            <label>USA Phone Number: *</label>
            <input type="text" />
        </div>

        <div class="questionBlock">
            <label>Email Address: *</label>
            <input type="text" />
        </div>

        <div class="questionBlock">
            <label>Home Country: *</label>
            <input type="text" />
        </div>
    </div>


    <div class="accordion-tab-box">
        <div class="accordion-tab-header"><h3>Apartment/Home Information</h3></div>

        <div class="questionBlock">
            <label>Apartment Name *</label>
            <select class="input-lg" style="">
                <option value="0" style="color:#ccc !important;">
                    Choose Option
                </option>
                <option value="1">N Bryan</option>
                <option value="2">S Bryan</option>
                <option value="3">College Station</option>
                <option value="4">Other</option>
            </select>
        </div>

        <div class="questionBlock">
            <label>If you selected "other" in the question above, type your full address, including name of apartment:</label>
            <input type="text" />
        </div>

        <div class="questionBlock">
            <label>Apartment Building & Number: *</label>
            <input type="text" />
        </div>

        <div class="questionBlock">
            <label>Is one of your roommatges also getting items from the Big Giveaway today? *</label>
            <select class="input-lg" style="">
                <option value="0" style="color:#ccc !important;">
                    Choose Option
                </option>
                <option value="1">yes</option>
                <option value="2">no</option>
            </select>
        </div>
    </div>

    <div class="accordion-tab-box">
        <div class="accordion-tab-header"><h3>Item Requests</h3></div>

        <div class="questionBlock">
            <label>Which large item do you want? *</label>
            <select class="input-lg" style="">
                <option value="0" style="color:#ccc !important;">
                    Choose Option
                </option>
                <option value="1">Desk</option>
                <option value="2">None</option>
            </select>
        </div>

        <div class="questionBlock">
            <label>Which small item do you want? *</label>
            @Html.CheckBox("Small Lamp", "yes") Small Lamp
        </div>
    </div>
}